// Only get system wide scripts on page load
- if (!prev_loaded)
    !!!
    html
        head
            title= title
            link(rel='stylesheet', href='/stylesheets/style.css')
            // Seperate out later...
            link(rel='stylesheet', href='/stylesheets/experience.css')

            script(src='js/jquery-1.7.2.min.js', defer="defer")
            script(src='js/jquery.lightbox_me.min.js', defer="defer")
            script(src='js/Menu.js', defer="defer")
            script(src='js/Experience.js', defer="defer")
            script(src='js/System.js', defer="defer")
            script(src='constants.js', defer="defer")
        body!= body
- else
    body!= body