// Only get system wide scripts on page load
- if (!prev_loaded)
    !!! strict
    html
        head
            title= title
            meta(name="viewport", content="target-densitydpi=400, initial-scale=0.1, user-scalable=no")
            link(rel='stylesheet', href='/stylesheets/style.css')
            // Seperate out later...
            link(rel='stylesheet', href='/stylesheets/demos.css')
            link(rel='stylesheet', href='/stylesheets/experience.css')
            link(rel='stylesheet', href='/stylesheets/skills.css')

            script(src='js/jquery-1.7.2.js', defer="defer")
            script(src='js/jquery.lightbox_me.js', defer="defer")
            script(src='js/Menu.js', defer="defer")
            script(src='js/Demos.js', defer="defer")
            script(src='js/Skills.js', defer="defer")
            script(src='js/Experience.js', defer="defer")
            script(src='js/System.js', defer="defer")
            script(src='js/Utility.js', defer="defer")
            script(src='constants.js', defer="defer")
        body!= body
- else
    body!= body