p.demo_intro {
  margin: 5px 0 10px 0;
}
div.demos.section {
  margin-bottom: 14px;
  width: 95%;
}
div.demos.section .demos.header {
  position: relative;
}
div.demos.section .demos.header .demos.title {
  width: 90%;
  display: inline-block;
}
div.demos.section .demos.header .demos.title h3.demos.vertical_title {
  margin-top: 14px;
}
div.demos.section .demos.header button.collapser {
  position: absolute;
  top: 50%;
  margin-top: -32%;
}
div.demos.section p.demo_text {
  margin-top: 5px;
  background-color: #fff;
}
