below_section = 14px

p.demo_intro
    margin-bottom: 60px

div.demos.section
    margin-bottom: below_section
    width: 95%

    .demos.header
        position: relative
        
        .demos.title
            width: 90%
            display: inline-block
                
            h3.demos.vertical_title
                margin-top: below_section
        
        // vertical alignment
        button.collapser
            position: absolute
            top: 50%
            margin-top: -45%
        
    p.demo_text
        margin-top: 5px
        background-color: white