below_section = 14px

p.demo_intro
    margin: 5px 0 10px 0

div.demos.section
    margin-bottom: below_section
    width: 95%

    .demos.header
        position: relative
        
        .demos.title
            display: inline-block
                
            h3.demos.vertical_title
                margin-top: below_section
        
        // vertical alignment
        button.collapser
            position: absolute
            top: 50%
            right: 1%
            margin-top: -32%//32% for webkit, 10% for opera
        
    p.demo_text
        margin-top: 5px
        background-color: white