div.experience.section
    margin-bottom: 20px
    width: 95%

div.experience.job
    margin: 0
    //border: 1px solid darkGrey
    //margin-top: 15px
    //border-radius:7px
    //box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5)
    //text-align: top

div.experience.job_summary
    padding: 0
    
div.experience.job_summary_info
    padding: 20px 20px 0 20px
    float: left

ul.experience.job_main_points
    margin: 0 20px 20px 20px
    width: 90%
    list-style-type: square

    li
        margin-bottom: 20px
        background-color: white
        
        span
            color: black
            
button.experience.collapser
    margin: 30px 30px 0 0

//utilities
div.experience.section
    margin-left: auto
    margin-right: auto

hr.clear.experience
    width:95%
    margin-left: 2.5%

.job_seperator
    height: 15px