div.skills.section {
  margin-bottom: 20px;
  width: 95%;
}
div.skills.header,
div.skills.skill {
  padding: 0 20px 0 20px;
}
h3.skills.vertical_title {
  margin-top: 40px;
}
div.skills.vertical_bullet {
  margin-top: 47px;
}
ul.skill_list {
  margin: 0;
  list-style-type: none;
}
hr.clear.skills {
  width: 95%;
  margin-left: 2.5%;
}
p.skill_name {
  float: left;
  border-bottom: 3px solid;
  margin-top: 15px;
  background-color: #fff;
}
p.skill_name _1_ {
  margin-top: 0;
}
ul.skills.skill_details {
  list-style-type: square;
  margin: 15px 0 0 0;
}
ul.skills.skill_details li {
  background-color: #fff;
}
