body {
  font: 45px Helvetica, "Lucida Grande", Arial, sans-serif;
  background-color: darkGrey;
}
h1 {
  padding: 0;
  margin: 0;
  font: 14px Helvetica, "Lucida Grande", Arial, sans-serif;
  font-size: 60px;
}
h4 {
  font-size: 45px;
}
div.page_state {
  width: 98%;
  height: 20px;
}
div.main_box,
div.menu_container {
  width: 99%;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 0 0 15px 15px;
}
div.menu_container {
  border-radius: 15px 15px 0 0;
  width: 99%;
}
div.menu_container div.menu_box {
  display: inline-block;
  padding: 10px;
  width: 17.82%;
}
div.menu_container div.menu_box div.menu_icon {
  border: solid 2px #000;
  border-radius: 30px;
  height: 130px;
  width: 140px;
}
div.title_bar {
  text-align: center;
  width: 100%;
  margin-top: 5px;
}
div.text_wrapper {
  width: 90%;
  text-align: center;
}
h3.vertical_title,
h4.vertical_title {
  padding: 0;
  margin: 0 0 15px 0;
  display: inline-block;
  margin-left: 10px;
  background-color: #fff;
}
button.collapser {
  display: inline;
  vertical-align: middle;
  height: 100%;
  width: 80px;
  margin-top: 0;
  border: 0;
  background-color: transparent;
}
button.collapser p {
  font-size: 70px;
}
button.small {
  height: 50px;
  width: 40px;
  font-size: 50px;
}
center.top_info {
  color: #fff;
  margin-top: -7px;
}
center.top_info span a {
  color: #fff;
}
center img {
  float: left;
  width: 75px;
  height: 75px;
  padding-right: 5px;
}
cite {
  float: top;
  color: #fff;
}
cite a {
  color: #fff;
}
div.main_picture {
  border-radius: 15px;
  box-shadow: inset 0px 0px 5px #000;
  border: 2px solid #000;
  width: 90%;
  height: 350px;
}
img.main_image {
  border-radius: 7px;
  width: 100%;
  height: 100%;
}
div.page_options {
  background-color: #fff;
  border-top: 4px solid #000;
  border-left: 4px solid #000;
  border-radius: 12px 0 0 0;
  bottom: 0;
  right: 0;
  position: fixed;
}
div.page_options div.to_top {
  float: left;
  font-weight: bold;
  padding: 22px 9px 25px 9px;
  border-right: 4px solid #000;
}
div.page_options div.page_options_inner {
  float: left;
  padding: 7px 4px 7px 10px;
}
div.page_options div.page_options_inner span.text_change {
  font-weight: bold;
  margin-top: 15px;
  float: left;
}
div.page_options div.page_options_inner button.text_change,
div.page_options div.page_options_inner button.text_change_selected {
  float: left;
  margin: 7px;
  margin-top: 5px;
  padding: 7px;
  border: 2px solid #000;
  border-radius: 12px;
  background-color: #fff;
}
div.page_options div.page_options_inner button.text_change_selected {
  border: 4px solid #000;
  font-weight: bold;
  background-color: lightBlue;
}
div.safety_space {
  height: 120px;
}
#home {
  background-color: lightBlue;
}
#skills {
  background-color: #e5ab47;
}
#experience {
  background-color: #c4b891;
}
#demos {
  background-color: #98d398;
}
#blog {
  background-color: #a05b5b;
}
#home_color {
  color: lightBlue;
}
#skills_color {
  color: #e5ab47;
}
#skills_border_color {
  border-color: #e5ab47;
}
#experience_color {
  color: #c4b891;
}
#demos_color {
  color: #98d398;
}
#blog_color {
  color: #a05b5b;
}
hr {
  background-color: #000;
  height: 3px;
}
hr.clear,
.clear,
hr.clear.experience {
  padding: 0;
  margin: 0;
  clear: both;
}
span.main {
  font-weight: bold;
}
div.main_picture,
div.text_wrapper,
div.main_box,
div.menu_container,
div.page_state,
div.skills.section,
div.demos.section,
div.blog.section,
div.menu_center,
div.menu_icon {
  margin-left: auto;
  margin-right: auto;
}
.no_margin {
  margin: 0;
}
.no_padding {
  margin: 0;
}
.left_align {
  text-align: left;
  background-color: #fff;
}
.float_right {
  float: right;
}
.no_display {
  display: none;
}
