body
  font: 45px Helvetica, "Lucida Grande", Arial, sans-serif
  background-color: darkGrey
h1
  padding: 0
  margin: 0
  font: 14px Helvetica, "Lucida Grande", Arial, sans-serif
  font-size: 60px
h4
  font-size: 45px
  
// Windows
div.page_state
  width: 98%
  height: 20px

div.main_box, div.menu_container
  width: 99%
  background-color: white
  border: 2px solid black
  border-radius: 0 0 15px 15px
  
// Menu
div.menu_container
  border-radius: 15px 15px 0 0
  width: 99%

  div.menu_box
    display: inline-block
    padding: 10px
    width: 17.82%
    
    div.menu_icon
      border: solid 2px black
      border-radius: 30px
      height: 130px
      width: 140px

// Generics
div.title_bar
  text-align: center
  width: 100%
  margin-top: 5px
  
div.text_wrapper
  width: 90%
  text-align: center
  
h3.vertical_title, h4.vertical_title
  padding: 0
  margin: 0 0 15px 0
  display: inline-block
  margin-left: 10px
  background-color: white
  
button.collapser
  display: inline
  vertical-align: middle
  height: 100%
  width: 80px
  margin-top: 0
 
  border: 0
  background-color: transparent
  
  p
    font-size: 70px
    
button.small
  height: 50px
  width: 40px
  font-size: 50px

center.top_info
  color: white
  margin-top: -7px
  
  span
    a
      color: white

center
  img
    float: left
    width: 75px
    height: 75px
    padding-right: 5px
    
cite
  float: top
  color: white
  a
    color: white
  
// Home specific

div.main_picture
  border-radius: 15px
  box-shadow:inset 0px 0px 5px rgba(0,0,0,1)
  border: 2px solid black
  width: 90%
  height: 350px
  
img.main_image
  border-radius: 7px
  width: 100%
  height: 100%

// Page options bar
div.page_options
  background-color: white
  border-top: 4px solid black
  border-left: 4px solid black
  border-radius: 12px 0 0 0
  
  bottom:0
  right:0
  position: fixed
  
  div.to_top
    float: left
    font-weight: bold
    padding: 22px 9px 25px 9px
    border-right: 4px solid black
    
  div.page_options_inner
    float: left
    padding: 7px 4px 7px 10px
    
    span.text_change
      font-weight: bold
      margin-top: 15px
      float: left
    
    button.text_change, button.text_change_selected
      float: left
      margin: 7px
      margin-top: 5px
      padding: 7px
      border 2px solid black
      border-radius: 12px
      background-color: white
      
    button.text_change_selected
      border 4px solid black
      font-weight: bold
      background-color: lightBlue
      
div.safety_space
  height: 120px

// Utilities
#home
  background-color: lightBlue
#skills
  background-color: #E5AB47
#experience
  background-color: #C4B891
#demos
  background-color: #98D398;
#blog
  background-color: #A05B5B;

skills_color = #E5AB47

#home_color
  color: lightBlue
#skills_color
  color: skills_color
#skills_border_color
  border-color: skills_color
#experience_color
  color: #C4B891
#demos_color
  color: #98D398;
#blog_color
  color: #A05B5B;

hr
    background-color: black
    height: 3px

hr.clear, .clear, hr.clear.experience
    padding: 0;
    margin: 0;
    clear: both;
  
span.main
  font-weight: bold
  
div.main_picture, div.text_wrapper, div.main_box, div.menu_container, div.page_state,
div.skills.section, div.demos.section, div.blog.section,
div.menu_center, div.menu_icon
  margin-left: auto
  margin-right: auto
   
.no_margin
  margin 0

.no_padding
  margin: 0
  
.left_align
  text-align: left
  background-color: white

.float_right
  float: right
  
.no_display
  display: none
