.title_bar
    h1(id = "home_title")= constant.page_text.home.title
    
.main_picture(id = "main_picture")
    img.main_image(id="main_image", src="images/jacob_s.jpg", alt="Jacob Friesen")
.text_wrapper
    p= constant.page_text.home.introduction